.main {
	margin: 30px 50px 30px 50px;
	font-family: helvetica;
	font-size: 14px;
}

.tabs__ul {
	display: flex;
	margin: 0px;
}

.tabs__li {
	padding: 10px 15px 10px 15px;
	list-style-type: none;	
	color: #337ab7;
}

.tabs__li:hover {
	background: #e2e1e1;
	border-radius: 5px 5px 0 0;
	color: #23527c;
	cursor: pointer;
}

.tabs {
	border-bottom: 1px solid #dcdcdc;
}

.selected-tab {
	background: white;
	color: #555;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 0 1px #dbd9d9;
}