* {
	box-sizing: border-box;
}

.form__name-row:nth-child(2),
.form__name-row:nth-child(3),
.form__name-row:nth-child(5),
.form__name-row:last-child  {
	padding-left: 320px;
	margin-top: 15px;
}
.form__name-second {
	display: flex;
    flex-direction: column;
}
.end-task-modal {
	opacity: 1;
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    outline: 0;    
    background: #000000a8;
    display: none;
}

.modal__body {
	width: 600px;
	margin: 80px auto;
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	line-height: 1.5;
	font-size: 16px;
	font-weight: 550;
	border: 1px solid black;
}

.modal__message {
	border-left: 2px solid #d6d6d6;
	padding-left: 15px;
}

.modal__points-for-task {
    line-height: 1.42857143;
    box-sizing: border-box;
    color: #31708f;
    padding: 15px;
    border: 1px solid #9acfea;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto;
    background-image: linear-gradient(to bottom, #d9edf7 0, #b9def0 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;	
	font-weight: 100;
    font-size: 15px;    
}

.span-grey {
	color: grey;
}

.modal__buttons-wrap {
	border-top: 1px solid #dcdcdc;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
}

.modal__buttons-container {
	display: flex;
	justify-content: space-between;
	width: 200px;
}

.checkbox-text-break-row {
	margin-left: 27px;
    font-size: 12px;
}


.modal__check-checkbox {
	margin-right: 10px;
}

.modal__check {
	font-weight: 100;
    font-size: 15px;
}

body {
	font-family: helvetica;
	font-weight: 100;
	font-size: 14px;
}

.main {
	margin: 30px 50px 30px 50px;
	font-family: helvetica;
	font-size: 14px;
	max-width: 1400px;
}

.tabs__list {
	display: flex;
	margin: 0px;
}

.average-input-wrap__container {
	display: flex;
    justify-content: space-between;
    width: 385px;
}

.tabs__item {
	padding: 10px 15px 10px 15px;
	list-style-type: none;	
	color: #337ab7;
}

.tabs__item:hover {
	background: #e2e1e1;
	border-radius: 5px 5px 0 0;
	color: #23527c;
	cursor: pointer;
}

.tabs {
	border-bottom: 1px solid #dcdcdc;
}

.selected-tab {
	background: #e8e8e8;
	color: #555;
	border-radius: 5px 5px 0 0;
	box-shadow: 0 0 0 1px #dbd9d9;
}

.button {
	background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
	color: white;
	background-repeat: repeat-x;
    border-color: #245580;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    outline: none;	
	border-width: 1px;
}

.auto-info__next-btn {
	background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
	color: white;
	background-repeat: repeat-x;
    border-color: #245580;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    outline: none;	
	border-width: 1px;	
}

.button:hover {
	background-color: #265a88;
	   background-position: 0 -15px;
}

.button:active {
	background-color: #122b40;
	border-color: #245580;
	
}

.represent-wrap {
	margin-top: 30px;
	display: flex;
}

.dialod-script-text {
	padding: 15px;
	background-image: linear-gradient(to bottom,#fcf8e3 0,#f8efc0 100%);
    background-repeat: repeat-x;    
    border-radius: 4px;
    color: #8a6d3b;
    border: 1px solid #f5e79e;
    margin-top: 0;
}

.dialod-script {
	max-width: 700px;
	padding-right: 15px;
}

.client-actions__header-name {
	padding: 10px 15px 15px 10px;
	color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
    background-repeat: repeat-x;
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
    border-bottom: none;
}

.client-actions__header-span {
	font-weight: bold;
}

.client-actions {
	max-width: 540px;
	padding-left: 15px;
	flex-grow: 1;
}

.client-actions__panel {
	padding: 15px;
	border: 1px solid #ccc;
}

.input__client-name,
.recall-options__datetime-input {
	padding: 6px 12px 6px 12px;
	border-radius: 4px;
	border: 1px solid #ccc;
	font-size: 14px;
    line-height: 1.42857143;
    width: 100%;
}

.save-button {
	margin-top: 15px;
}

.button {
	cursor: pointer;
}

.application-forming {
	max-width: 1024px;
}

.application-forming__title {
	font-size: 21px;
	font-weight: 300;
	color: #333;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 30px;
}

.application-forming__script-header {
	padding: 10px 15px 10px 15px;
	border: 1px solid #dcdcdc;	
	display: flex;
    justify-content: space-between;
}

.application-forming__script-score {
	margin: 0px;
}

.application-forming__script {
	margin: 0 3px 0 0;	
}

input[type=radio],
input[type=checkbox],
label {
	vertical-align: middle;
}

.application-forming__script-score {
	font-weight: bold;
}

.wrap-fail {
	background-color: #f0f9f1; 
}

.wrap-flat {
	background-color: #f0f9f1;
}

.wrap-car {
	background-color: #f0f9f1;
}

.tab-options__wrap {
	display: flex;
	justify-content: space-between;
	margin: 30px 0 30px 0;
}

.input-wrap {
	margin: 7px;
	margin-left: 0px;
}

.input-wrap__checkbox {
	margin-left: 0px;
}

.tab-options__comments {
	display: flex;
	flex-direction: column;
}

.tab-options__comments-textarea {
	border-radius: 5px;
}

.negative-options__recall-checkbox {
	margin-left: 5px;
}

.recall-options__datetime {
	display: flex;
	flex-direction: column;
}

.recall-options__datetime-input {
	width: 180px;
	margin-top: 10px;
	outline: none;
}

.recall-options__datetime-input_time {
	width: 70px;
    margin-right: 30px;
    position: relative;
    right: 69px;
    border-left: none;
    outline: none;
}

.recall-options__datetime-options {
	color: grey;
	font-size: 13px;
}

.recall-options__datetime-quickset {
	color: #337ab7;	
	font-size: 13px;
	display: flex;
	flex-direction: row;
}

.recall-options__datetime-interval {
	margin: 0 10px 5px 0;
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 1px dashed;
    color: #74a3c7;
    outline: none;
}

.recall-options__datetime-interval:hover {
	color: #23527c;
} 

.recall-options__checkbox {
	margin-left: 0;
}

.recall-button,
.dialing-fail-button {
	margin-top: 20px;
}

.dialing-fail-comments {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	width: 500px;
 }

.recall-options__table {
	border: 1px solid grey;
	border-collapse: collapse;
}

.recall-options__table td, th {
	padding: 8px;
	border: 1px solid grey;
	width: 200px;
}

.recall-options__table-task-row {
	background-color: #dff0d8;
}

.recall-options__table-head-row {
	text-align: left;
}

.recall-options__task-keep {
	margin-top: 30px;
}

.input-button {
	margin-left: 0px;
}

.section {
	display: none;
}

.visibility {
	visibility: visible;
	height: inherit;
}

.hidden {
	visibility: hidden;
	height: 0;
}

.section--active {
	display: block;
}

.form__tip {
	color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 22px;
    background: lightblue;
    margin: 1em;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

.auto-info input {
	width: 385px;
	border: 1px solid;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;    
    position: relative;
    margin-top: 15px;
}

.input-error {
	color: red;
	display: none;
	margin-right: 200px;
}

.frmname {
	margin-left: 320px;
}

.addinp {
	padding-left: 320px;
	width: 100%;
}

.form-input-error {
	color: red;	
	margin-right: 41px;	
	width: 384px;
}

.auto-info__container {
	width: 750px;
}

.auto-info__info__container-inputs {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
}

.form input {
	width: 385px;
	border: 1px solid;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;    
    position: relative;
}

.small-input-wrap input{
	width: 98px;
	margin-right: 84px;
}

.smallest-input-wrap input{
	width: 98px;
	margin-right: 30px;
}

.average-input-wrap input{
	width: 150px;
}

.form select {
	width: 385px;
	border: 1px solid;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;	
}

.form input:focus {
	border-color: rgba(82,168,236,.8);
}

.form input[type='checkbox'] {
	width: 13px;
	height: 13px;
	margin-right: 5px;
}

.form input[type='radio'] {
	width: 13px;
	height: 13px;
}

.form {
	width: 800px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	box-sizing: content-box;
	margin-left: 50px;
}

.form__block,
.flat-bail-registration-block-matching,
.flat-bail-current-block-matching {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.form__block-input-block {
	margin-top: 15px;
	display: flex;
	align-items: center;
}

.form__workless-reasons-radio {
	width: 428px;
}

.form__block-radio-block {
	margin-top: 15px;
	display: flex;
	align-items: baseline;	
}

.additional-info-button {
	margin-top: 30px;
}

.form__organization-input {
	border-radius: 5px;
	margin-bottom: 15px;
	width: 385px;
	padding: 6px 12px;
}

.form__employment-type {
	display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.form__organization {
	display: flex;
    align-items: flex-end !important;
    justify-content: flex-end;
    margin-bottom: 15px;
    flex-direction: column;	
    width: 800px;
    margin-right: 0;
}

.form__block-textarea-block {
    margin-top: 15px;
    display: flex;
    align-items: flex-start;	
}

.form__block-organization {
	display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 15px;
    flex-direction: column;	
    width: 800px;
    margin-right: 0;
}

.form__own-business {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.form__own-business-official {
	display: flex;
	justify-content: flex-end;
	align-items: center !important;
	margin-bottom: 15px;
}

.house-input {
	margin-right: 15px;
}

.object-address {
	/* width: 800px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	box-sizing: content-box;	 */
}

.form__address-manual-filling, 
.js-current-address-manual-filling,  
.form__own-business, 
.form__workless, 
.form__reason-for-other,
.js-manager-phone-wrap,
.js-work-organization-address-manual-filling,
.work-own-business-address-switcer,
.additional-info-wrap {
	display: none;
}

.work-organization input{
	margin-right: 287px;
}

.radio__label {
	cursor: pointer;
}

.button-container__centered {
    width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.button-container__left {
    margin-top: 30px;
}

.auto-info__prev-btn,
.modal__cancel-btn {	
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    color: #333;
    outline: none;
}

.modal__cancel-btn:hover,
.auto-info__prev-btn:hover {
	background-color: #e0e0e0;
    background-position: 0 -15px;
    border-color: #adadad;
    color: #333;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    background-repeat: repeat-x;
}

.modal__cancel-btn:active,
.auto-info__prev-btn:active {
	background-color: #e0e0e0;
    border-color: #dbdbdb;
    background-image: none;
    outline: none;
    text-shadow: 0 1px 0 #fff;
}

.loan-offer__next-button_disable, 
.auto-info__next-btn_disable {
	background-image: linear-gradient(to bottom,#337ab740 0,#265a88a1 100%);
    color: white;
    background-repeat: repeat-x;
    border-color: #2455807a;
    padding: 6px 12px 6px 12px;
    border-radius: 4px;
    outline: none;
	border-width: 1px;
	cursor: not-allowed;
	display: block;
}

.auto-info__next-btn_disable {
	margin-left: 90px;
}

.script-header-label {
	cursor: pointer;
}

.info-button {
    background-color: white;
    border-style: none;
    color: #74a3c7;
    cursor: pointer;	
}

.end-task-button {
	margin-top: 30px;
}

.form__label {
    font-weight: 700;
    margin-right: 20px;
    text-align: right;
    width: 300px;
}

.form__label-flat {
    font-weight: 700;
    margin-right: 20px;
    text-align: right;
}

.additional-input {
	width: 293px !important;
	margin-right: 20px;
}

.span-red {
	color: red;
	margin-left: 5px;
}

.form__titles {
	display: block;
    width: 745px;
    padding: 0;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: inherit;
    color: #333;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    margin-left: 50px;
}

.radio-margin {
	line-height: 1.5;
}

.data-agreement {
	margin-right: 3px;
}

.loan-offer__next-button_not-ready {
	margin-top: 30px;
}

.loan-offer__next-button {
	margin-top: 30px;
}

.form-wrap__tip {
	margin: 0 20px;
	position: relative;
	margin-bottom: 0;
	display: flex;
    align-items: center;
}

.form-wrap__tip-empty {
	width: 40px;
}

.tooltip-wrap {
    align-items: center;	
    display: none;
}

.tooltip-wrap_active {
	display: flex;
}

.car-bail__refuse-reason {
	line-height: 1.5;
}

.form__tip {
	margin: 0;
	position: absolute;
	bottom: -10px;
}

.form__small input {
	width: 113px;
}

.form__current-house-input {
	margin-right: 15px;
}

.form__flat-input {
	width: 70px 	
}

.object-address__address, 
.object-address__flat {
	display: flex;
	align-items: center; 
	margin-top: 20px;
}

.object-address__address-input {
	/* width: 1900px !important;	 */
}

.error {
	margin: 0 auto;
    margin-left: 77px;
    color: red;
}

.object-address input[type="text"]{
	width: 385px;
	border: 1px solid;
	padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;   	
}

.object-address__flat input[type="text"]{
	width: 85px;
}

.object-address__inputs {
	width: 480px;
	margin: 0 auto;
}

.object-address__flat-input-wrapper {
	margin-right: 10px;
}


.object-address__address-error,
.object-address__flat-error {
	display: none;
	color: red;
	margin-left: 95px;
}

.object-address__flat {
	/* margin-left: -22px;
	margin-top: 15px; */
}

.object-address__wrap-buttons {
	width: 200px;
	margin: 0 auto;
	display: flex;
}

.popup {
	display: none;
	z-index: 1050;
	overflow-x: hidden;
    overflow-y: auto;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0; 
    background: #000000c7;     
}

.popup__body {
	top: 100px;
	width: 600px;
	height: 520px;
	margin: 0 auto;
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px 10px 10px 10px;
	line-height: 1.3;
	position: relative;
	background: white;
}

.info-button_conditions {
	margin: 0;
}

.popup__close-btn {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 32px;
	height: 32px;
	opacity: 1;
	cursor: pointer;
}

.popup__close-btn:before, 
.popup__close-btn:after {
	position: absolute;
	left: 15px;
	content: ' ';
	height: 20px;
	width: 2px;
	background-color: #333;
}

.popup__close-btn:before {
	transform: rotate(45deg);
}

.popup__close-btn:after {
	transform: rotate(-45deg);
}

.loan-offer {
	max-width: 1400px;
	margin: 30px 50px 30px 50px;
}

.table {
	border-collapse: collapse; 
	border: 1px solid black;
	width: 685px;
}

.table td, th {
	border: 1px solid black;	
}

.tooltip {
    position: absolute;
    width: 330px;
    border-radius: 5px;
    border: 1px solid #dbd9d9;
    line-height: 1.5;
    left: 34px;
    font-size: 13.5px;
    padding: 10px;
    line-break: auto;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.triangle {
    position: absolute;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 1em 1em 1em 0em;
    border-color: transparent white transparent transparent;
    filter: drop-shadow(0 0 0px #000);
}

.span-cian {
	color: #31708f;
}

input:disabled {
	cursor: not-allowed;
	background: #eee;	
}

.red-border-input {
	border: red;
}